In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel("lana dataset.xlsx")

In [4]:
df.head()

,Customer ID,Age,Age Group,Postcode,Gender,Favourite Cookie,Cookies bought each week
0,1001,60,60-69,2000,M,Choc chip,1
1,1002,53,50-59,2010,M,Choc chip,1
2,1003,22,20-29,2010,F,Choc chip,2
3,1004,30,30-39,2010,F,Choc chip,6
4,1005,52,50-59,2010,F,Macadamia,3

In [5]:
df.describe()

       Customer ID        Age     Postcode  Cookies bought each week
count    46.000000  46.000000    46.000000                 46.000000
mean   1023.500000  34.173913  2136.217391                  3.978261
std      13.422618  16.189577   204.315433                  3.666601
min    1001.000000  12.000000  2000.000000                  1.000000
25%    1012.250000  20.250000  2000.000000                  1.250000
50%    1023.500000  31.500000  2014.500000                  3.000000
75%    1034.750000  44.750000  2296.250000                  5.750000
max    1046.000000  68.000000  2873.000000                 20.000000

In [8]:
df.columns

Index(['Customer ID', 'Age', 'Age Group', 'Postcode', 'Gender',
       'Favourite Cookie', 'Cookies bought each week'],
      dtype='object')

In [11]:
df.isnull().sum()

Customer ID                 0
Age                         0
Age Group                   0
Postcode                    0
Gender                      0
Favourite Cookie            0
Cookies bought each week    0
dtype: int64

In [12]:
df.shape

(46, 7)